.container {
  display: flex;
  text-decoration: none;
}

.image {
  height: 10em;
  grid-area: image;
  justify-self: center;
  margin-right: 30px;
}

.favoriteMark {
  color: #ed8a19;
  margin-left: 10px;
}

.firstBrewed {
  color: #6d622c;
}

.title {
  opacity: inherit;
  margin-top: 0;
  display: flex;
  align-items: center;
}
